NODE_ENV="production"
PORT="3000"

APP_NAME="Starter"
APP_SECRET="secret"

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_NAME="starter"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="postgres"

NEXT_PUBLIC_URI_ORIGIN="https://domain.com"