{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "importOrder": ["^@nestjs/(.*)$", "^next(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}