{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "importOrder": ["^@nestjs/(.*)$", "^typeorm$", "^next(.*)$", "^@apollo/(.*)$", "<THIRD_PARTY_MODULES>", "^./configs/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}